@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-gradient-pink-violet {
    background: linear-gradient(to right, #ff00cc, #6600ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
